<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image over audio</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/icon_640x640.png') }}">
    {{ font_awesome.load_js() }}
    {{ font_awesome.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class = 'header'>
        <div class = 'header_title'>
            <img src="{{ url_for('static', filename='icons/icon_640x640.png') }}" alt="icon">
            <span>IMAGE OVER AUDIO</span>
        </div>
        <div class = 'about'>
            <span>made by
                <a href="https://github.com/benjaminmjta" target="_blank">
                    {{font_awesome.render_icon("fa-brands fa-github")}} benjaminmjta
                </a>
            </span>
        </div>
    </div>
    <div class = 'content'>
        <div class="card control">
            <div class='card_title'>
              <label>{{font_awesome.render_icon("fa-solid fa-sliders")}}</label><label>control</label>
            </div>
            <div class='card_content'>
                <form action="/upload_image" method="post" enctype="multipart/form-data" onsubmit="showLoading()">
                    <label class="form_label">upload new image</label>
                    <label for="image_select" class="input_label">max 256x256</label>
                    <input id="image_select" type="file" name="file" accept="image/*" required>
                    <button type="submit">{{font_awesome.render_icon("fa-solid fa-upload")}} upload</button>
                </form>
                {% if uploaded_image %}
                    <form action="/convert_to_audio" method="post" onsubmit="showLoading()">
                        <label class="form_label">convert image to audio</label>
                        <label for="color_depth_sl" class="input_label">color depth:</label>
                        <div class="form_line">
                            <input type="range" id="color_depth_sl" name="color_depth" min="2" max="255" value="2" oninput="syncColorDepthInputs(this.value)"/>
                            <input type="number" id="color_depth_nr" min="2" max="255" value="2" oninput="syncColorDepthInputs(this.value)"/>
                        </div>
                        <span class="form-alert" id="color_depth_alert"></span>
                        <input id="" type="hidden" name="image_name" value="{{ image_name }}">
                        <button type="submit">{{font_awesome.render_icon("fa-solid fa-gears")}} convert</button>
                    </form>
                {% endif %}
                <form action="/upload_audio" method="post" enctype="multipart/form-data" onsubmit="showLoading()">
                    <label class="form_label">upload new audio</label>
                    <input id="audio_select" type="file" name="file" accept=".wav" required>
                    <button type="submit">{{font_awesome.render_icon("fa-solid fa-upload")}} upload</button>
                </form>
                <div class="control_group">
                    <label class="form_label">or record audio</label>
                    <div class="form_line">
                        <select id="microphone_select">
                            <option value="default">default</option>
                        </select>
                        <div class="record_buttons">
                            <button id="record_button">{{font_awesome.render_icon("fa-solid fa-play")}}</button>
                            <button id="stop_button">{{font_awesome.render_icon("fa-solid fa-stop")}}</button>
                        </div>
                    </div>
                </div>
                {% if uploaded_audio %}
                    <form action="/recover_image" method="post" onsubmit="showLoading()">
                        <label class="form_label">recover image from audio</label>
                        <input type="hidden" name="audio_name" value="{{ audio_name }}">
                        <div class="form_line">
                            <label class="input_label">numpy fft</label>
                            <input id="ft_checkbox" type="checkbox" name="ft_version" class="slider-checkbox" value="1"/>
                            <label for="ft_checkbox" class="slider"></label>
                            <label class="input_label">manual fft</label>
                        </div>
                        <button type="submit">{{font_awesome.render_icon("fa-solid fa-gears")}} recover</button>
                    </form>
                {% endif %}
            </div>
            <div class='card_footer'>
                <ul>
                    <li>upload image to convert it to audio</li>
                    <li>upload audio to recover image from it</li>
                    <li>or record audio</li>
                </ul>
            </div>
        </div>

        <div class = 'card up_img'>
            <div class='card_title'>
                <label>{{font_awesome.render_icon("fa-solid fa-file-image")}}</label><label>uploaded image</label>
            </div>
            <div class='card_content'>
                {% if uploaded_image %}
                    <img src="{{ uploaded_image }}" alt="uploaded image" class="image">
                {% else %}
                    <p>no image uploaded</p>
                {% endif %}
            </div>
        </div>

        {% if audio_file %}
            <div class='card gen_aud'>
                <div class='card_title'>
                    <label>{{font_awesome.render_icon("fa-solid fa-file-audio")}}</label><label>generated audio</label>
                </div>
                <div class='card_content'>
                    <audio controls>
                        <source src="{{ audio_file }}" type="audio/wav">
                        browser does not support this audio file.
                    </audio>
                </div>
                <div class='card_footer'>
                    <a href="{{ audio_file }}">download audio</a>
                </div>
            </div>
        {% endif %}

        <div class = 'card up_aud'>
            <div class='card_title'>
                <label>{{font_awesome.render_icon("fa-solid fa-file-audio")}}</label><label>uploaded audio</label>
            </div>
            <div class='card_content'>
                {% if uploaded_audio %}
                    <audio controls>
                        <source src="{{ uploaded_audio }}" type="audio/wav">
                        browser does not support this audio file.
                    </audio>
                {% else %}
                    <p>no audio uploaded</p>
                {% endif %}
            </div>
        </div>

        {% if recovered_image %}
            <div class='card rec_img'>
                <div class='card_title'>
                    <label>{{font_awesome.render_icon("fa-solid fa-file-image")}}</label><label>recovered image (black and white)</label>
                </div>
                <div class='card_content'>
                    <img src="{{ recovered_image }}" alt="recovered image" class="image">
                </div>
                <div class='card_footer'>
                    <a href="{{ recovered_image }}" download>download image</a>
                </div>
            </div>
        {% endif %}
    </div>
    {% if error_message %}
    <div class="error_message" id="error_message">
        <span>{{error_message}}</span>
    </div>
    {% endif %}
    <div class = 'loading' id = 'loading'>
        <span>loading, please wait...</span>
    </div>

    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
</body>
</html>